# If True, then builds tables necessary for
buildServicesTables=True
buildAutocompleteTables=True

# Database parameters
DATABASE_TYPE=PostGIS
dbname=ruian
host=localhost
port=5432
user=postgres
password=postgres
schemaName=default

# RUIAN layers to be imported, if empty, then all layers will be imported
layers=

# Layers necessary for searching addresses.
__layers=AdresniMista,Ulice,StavebniObjekty,CastiObci,Obce,Mop,Momc

# Path to GDAL/VFR tools, used on Windows
WINDOWS_os4GeoPath=..\OSGeo4W_vfr\OSGeo4W.bat


# Path to GDAL/VFR tools, used on Linux
LINUX_vfr2pgPath=../gdal-vfr-master/